
img {
    height: 600px;
}
/* Eerie black #131515
Jet #2B2C28
Persian Green #339989
Middle Blue Green #7DE2D1
Snow #FFFAFB */

body {
	background-color: #339989;
}

.tausta{

	background-image: url("Untitled.png");	
	background-size: 100%;
}

.teksti{
	background-color:  #131515;
    padding: 100px 0;
    transform: skew(0deg, -5deg) translateY(-82px);
	background-size: 100%;
	opacity: 90%;
}
.Ptesti{
	padding: 80px 0px;
    transform: skew(0deg, 5deg)
}

.Ptesti p{
	font-size: 1.2em;
	color: #fff;
	margin: 0px;
	padding: 0px;
	padding-bottom: 10px;
	line-height: 1.4em;
	width: 100%;
}

.Ptesti h1 {
	font-size: 2.8em;
	color: #fff;
	margin: 0px;
	padding: 0px;
	padding-bottom: 10px;
	line-height: 1.4em;
	width: 100%;
	
}

a{
	color: #fff;
	font-size: 1em;
	font-weight: bold;
	text-decoration: none;
}

.teksti{
	padding: 0 50px 150px;
	margin-left: 0px;
	text-align: right;
	color: #fff;
}


.teksti1{
	padding: 0 50px 150px;
	margin-left: 0px;
	text-align: left;
	color: #fff;
}

.Ptesti1 p{
	font-size: 2em;
	color: black;
	margin: 0px;
	padding: 0px;
	padding-bottom: 10px;
	line-height: 1.4em;
	width: 100%;
}

.Ptesti1 h1{
	padding: 0 200px 0px;
	font-size: 3em;
	color: black;
	margin: 0px;
	padding: 0px;
	padding-bottom: 10px;
	line-height: 1.4em;
	width: 100%
}


.btn2{
	margin-top: 10px;
}

.btn1 {
	margin-top: 10px;
	
}


footer {
	background-color:#131515;
	color: #fff;
	position:relative
}


