@import url('https://fonts.googleapis.com/css2?family=Original+Surfer&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marko+One&display=swap');


.teroback {
    background-image: url("../img/elefantti.jpg");
    background-size: auto;
    border-style: double;
    border-color:white;
}

.container {
    color:white;
    border-radius: 10px;
}

.projekti {
    color: seashell;
}

.kyssäri {
    color: black;
    background-color: cornsilk;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
}

.aloitusinfo {
    margin-left: 8em;
    padding: 10px 10px 10px 20px;
    color: black;
    border-radius: 10px;
    background-color: rgba(187, 192, 155, 0.9);
    border-style: dotted;
    border-color: white;
    letter-spacing: 2px;
    

}

h1, p {
    font-family: 'Original Surfer', cursive; 
}

.aloitusnappi {
    margin-left: 7.2em;
    size: 30px;
}

/* sectioneille taustakuvat */
.bg-image {
    background-image: url("../img/käärme.jpg");
    background-repeat: round;
    background-size: 100%;
}

.bg-image2 {
    background-image: url("../img/karhu.jpg");
    background-repeat: round;
    background-size: 100%;

}

.bg-image3 {
    background-image: url("../img/ahven.jpg");
    background-repeat: round;
    background-size: 100%;

}

.bg-image4 {
    background-image: url("../img/leijona.jpg");
    background-repeat: round;
    background-size: 100%;

}

.bg-image5 {
    background-image: url("../img/naali.jpg");
    background-repeat: round;
    background-size: 100%;

}

.radio {
    background-color: cornsilk;
    border-radius: 10px;
    padding: 5px 5px 5px 5px;
    margin-bottom: 2px;
    background-color: rgba(187, 192, 155, 0.9);
}

span {
    color: black;
    
}

.pisteesi {
    font-size: 25px;
}
